@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

:root {
    --purplebg: #281448;
    --textyellow: #FCB850;
    --imgcardpurple: #1C0E34;
    --rosio: #D6008F;
    --solidbgcolor: #EAE8ED;
    --solidtypecolor: #F6EAF9;
    --bg-desktop: url(../../img/pattern-background-desktop-light.svg);
}

html a {
    text-decoration: none;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--solidbgcolor) var(--bg-desktop);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    margin-block: 81px;
    max-width: 1160px;
    margin-inline: auto;
}

.assunto {
    display: flex;
    align-items: center;
    gap: 16px;
}

.assunto_icone {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
}

.assunto_icone img {
    width: 100%;
}

.assunto h1 {
    font-size: 28px;
    font-weight: 500;
}

.tipo {
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tipo h1 {
    color: var(--purplebg);
}

.maincontainer {
    display: block;
    margin-inline: auto;
    max-width: 1366px;
}

main {
    padding-block: 6rem;
}

.jogo-da-forca {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--purplebg);
    font-family: 'Righteous', sans-serif;
    margin: 0 auto; /* Centraliza o jogo */
    max-width: 1160px; /* Largura máxima para alinhar com o cabeçalho */
}

.game-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 2px solid var(--purplebg);
    padding: 1rem;
    margin-right: 8rem; /* Margem direita para separar dos botões */
}

#container-forca {
    font-size: 6rem; /* Tamanho da forca */
    text-align: center;
    color: var(--textyellow);
}

#container-palavra {
    font-size: 3rem; /* Tamanho da palavra */
    letter-spacing: 0.2rem;
    margin: 1rem 0;
}

.container-letras {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.75rem; /* Espaçamento entre letras */
}

.container-letras button {
    background-color: var(--rosio);
    color: white;
    font-size: 1.5rem; /* Tamanho das letras dos botões */
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 100%; /* Largura total do contêiner de letras */
    box-sizing: border-box;
}

.container-letras button:hover {
    background-color: var(--textyellow);
}

.buttons a{
    text-decoration: none;
    color: white;
}
.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhamento à esquerda dos botões */
    justify-content: center;
    padding: 1rem;
    margin-top: 4rem; /* Ajuste da margem superior para alinhamento */
}

.buttons button {
    background-color: var(--rosio);
    color: white;
    font-size: 1.25rem; /* Tamanho da fonte dos botões */
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    margin: 0.5rem 0; /* Margem superior e inferior para os botões */
    transition: background-color 0.3s ease;
    width: 100%; /* Largura igual para todos os botões */
    max-width: 300px; /* Largura máxima dos botões */
    box-sizing: border-box;
}

.buttons button:hover {
    background-color: var(--textyellow);
}

/* Pop-ups */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-conteudo {
    background-color: #fff;
    color: var(--purplebg);
    margin: 15% auto;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 30px; /* Aumentar padding para dar mais espaçamento interno */
    width: 80%; /* Aumentar largura para dar mais espaço ao conteúdo */
    line-height: 1.6; /* Aumentar o espaçamento entre linhas */
}

.fechar {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover {
    color: red;
}

.temacontainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #281448;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

body.dark-mode {
    background-color: var(--solidbgcolor);
}