@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

:root {
    --purplebg: #281448;
    --textyellow: #FCB850;
    --imgcardpurple: #1C0E34;
    --rosio: #D6008F;
    --solidbgcolor: #EAE8ED;
    --solidtypecolor: #F6EAF9;
    --cortexto: #3d3d3d;

    --landingpng: url(/img/background.png);
    --bggen: url(/img/bggen.png);
    --bgdna: url(/img/bgdna.png);
}

:root.dark-mode {
    --purplebg: #11071f;
    --textyellow: #FCB850;
    --imgcardpurple: #0c041a;
    --rosio: #D6008F;
    --solidbgcolor: #131114;
    --solidtypecolor: #F6EAF9;
    --cortexto: #F6EAF9;

    --landingpng: url(/img/background-dark.png);
    --bggen: url(/img/bggen-dark.png);
    --bgdna: url(/img/bgdna-dark.png);


}

html a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: linear-gradient(90deg, rgba(169,30,219,1) 0%, rgba(255,25,196,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.navbar nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar nav .logo {
    display: flex;
    align-items: center;
}

.navbar nav .logo img {
    height: 2.5rem;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.navbar nav .logo img:hover {
    transform: rotate(15deg) scale(1.1);
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem; /* gap pros links */
    position: relative;
}

.navbar nav ul li {
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar nav ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    filter: blur(8px);
    z-index: -1;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
    opacity: 0;
}

.navbar nav ul li:hover::before {
    opacity: 1;
    filter: blur(12px);
}

.navbar nav ul a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.tema{
    height: 2rem;
    width: 2rem;
}

.navbar nav ul a:hover {
    color: #ffffff;
}

/* Modo escuro */

.navbar.dark-mode {
    background: linear-gradient(90deg, rgba(28, 14, 52, 1) 0%, rgba(70, 40, 119, 1) 100%);
}

.navbar.dark-mode nav ul a {
    color: #f0f0f0;
}

.temacontainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #281448;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

body.dark-mode {
    background-color: var(--solidbgcolor);
}

.maincontainer{
    display: block;
    margin-inline: auto;
    max-width: 1366px;
}

.degrade{
    width: 100%;
    height: 24rem;
    background-image: var(--bgdna);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

:root.dark-mode .degrade{
    background-image: var(--bgdna);
    height: 24rem;
    background-size: cover;
    background-position: center;
}

.bosta763{
    background: var(--solidbgcolor);
    margin-top: 4rem;
    padding-bottom: 3rem;
}

.title{
    font-size: 4rem;
    margin-bottom: 14rem;
}

.title h1{
    color: var(--rosio);
    filter: drop-shadow(0px 20px 10px #00000086);
    text-align: center;
    font-family: 'Righteous', sans-serif;
}

.infocard{
    display: flex;
    columns: 2;
    justify-content: center;
    padding-bottom: 3rem;
}

.infocard div{
    border-radius: 1rem;
}

.info{
    background-color: var(--textyellow);
    width: 26rem;
    height: fit-content;
    padding: 1rem;
    padding-right: -2rem;

    z-index: 2;
}

.info h3, li{
    color: #fff;
}

.info h3{
    font-size: 3rem;
    padding-bottom: 2.5rem;
    font-family: 'Righteous', sans-serif;
}

.info li{
    display: block;

    padding-bottom: 1.25rem;
    padding-inline: 0.75rem;

    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
}

.infocard img{
    margin-left: -1rem;
    margin-top: 4rem;
}

.estrutura_dna {
    background: var(--purplebg);
    padding: 4rem;
    margin-inline: auto;
    text-align: center; /* Centraliza o texto */
}

.estrutura_dna h4 {
    color: var(--rosio);
    font-size: 2.5rem;
    padding-block: 2rem;
    font-family: 'Righteous', sans-serif;
    margin-bottom: 2rem; /* Adiciona espaço entre o título e o texto */
}


.estrutura_dna p {
    font-weight: 200;
    font-style: normal;
    color: #fff;
    margin-bottom: 2rem; /* Adiciona espaço entre o texto e a imagem */
}

.estrutura_dna img {
    max-width: 100%; /* Ajusta a imagem para não exceder o container */
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
}
.funcao{
    background: var(--purplebg) ;
    padding-bottom: 5rem;
    float: center;
}

.funcao h4{
    font-size: 2.5rem;
    color: #fff;
    margin-inline: 3.125rem;
    padding-block: 4rem;
    font-family: 'Righteous', sans-serif;
}

.sintese_proteina p, .sintese_rna p{
    margin-inline: 4rem;
    background-color: var(--textyellow);
    border-radius: 1.5rem;
    height: fit-content;
    max-width: 800px;
    padding: 2rem;
    padding-inline: 2rem;
    padding-block: 2rem;

}
.funcao h4 span{
    color: var(--rosio);
    font-family: 'Righteous', sans-serif;
}

.funcao p{
color: #fff;

font-weight: 300;
font-style: normal;

text-align: center;

height: 100%;
width: 50%;

font-size: 1.375rem;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
}

.text img{
    border-radius: 20px;
    filter: drop-shadow(0px 10px 5px #00000099);
    margin-bottom: -1.25rem;
}

.funcao .sintese_rna{
    margin-top: 5rem;
}


.rep_transc{
    padding: 3rem;
    background: var(--solidbgcolor);
    background-repeat: no-repeat;
    background-size: cover;

}

.rep_transc h3{
    color: var(--rosio);
    font-size: 2.813rem;
    padding-block: 4rem;
    font-family: 'Righteous', sans-serif;

}

p span{

    font-weight: 300;
    font-style: normal;

    color: var(--rosio);
}

/* reutilizavel tb isso abaixo */

.primeira-parte{
    display: flex;
    height: 100%;
    width: 100%;
}

.segunda-parte{
    display: flex;
    height: 100%;
    width: 100%;
}

.primeira-parte p, .segunda-parte p{
    color: var(--cortexto);

    font-weight: 300;
    font-style: normal;

    padding: 2rem;
    padding-block: 6rem;
}

.segunda-parte p{
    text-align: right;
    float: right;
}

footer{
    display: block;
    
    background-color: var(--solidbgcolor);
    padding-block: 3rem;
    margin-inline: auto;
}

footer p{
    text-align: center;
    color: var(--rosio);
}

/* --- */

.diff{
    background-color: var(--imgcardpurple);
    color: #fff;
    padding: 3rem;

    height: fit-content;
    width: 100%;
}

.primarycontainer{
    display: inline-flex;
    flex-direction: row;
}

.diff h3{
    font-size: 2.813rem;
    padding-bottom: 2rem;
    font-family: 'Righteous', sans-serif;
}

.diff span{
    color: var(--rosio);
    font-family: 'Righteous', sans-serif;
}

.containerlol{
    width: 80%;
}

.containerlol ul{
    padding-block: 2rem;
}

.diff .containerlol p, .containerlol ul li{
    color: #fff;
    font-weight: 300;
    font-style: normal;
    padding-right: 1rem;
}

.containerlol li{
    font-size: 1.25rem;
}

li{
    text-decoration: dotted;
}

.send a{
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain; /* Contém a imagem sem cortar */
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--rosio);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    opacity: 0.9;
}

#backToTop:hover {
    opacity: 1;
    background-color: var(--textyellow);
}