@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

:root {
    --purplebg: #281448;
    --textyellow: #FCB850;
    --imgcardpurple: #1C0E34;
    --rosio: #D6008F;
    --solidbgcolor: #EAE8ED;
    --solidtypecolor: #F6EAF9;
    --cortexto: #3d3d3d;

    --landingpng: url(/img/background.png);
    --bggen: url(/img/bggen.png);
    --bgdna: url(/img/bgdna.png);
}

:root.dark-mode {
    --purplebg: #11071f;
    --textyellow: #FCB850;
    --imgcardpurple: #0c041a;
    --rosio: #D6008F;
    --solidbgcolor: #131114;
    --solidtypecolor: #F6EAF9;
    --cortexto: #F6EAF9;

    --landingpng: url(/img/background-dark.png);
    --bggen: url(/img/bggen-dark.png);
    --bgdna: url(/img/bgdna-dark.png);
}


html a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: linear-gradient(90deg, rgba(169,30,219,1) 0%, rgba(255,25,196,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.navbar nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar nav .logo {
    display: flex;
    align-items: center;
}

.navbar nav .logo img {
    height: 2.5rem;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.navbar nav .logo img:hover {
    transform: rotate(15deg) scale(1.1);
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem; /* gap pros links */
    position: relative;
}

.navbar nav ul li {
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar nav ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    filter: blur(8px);
    z-index: -1;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
    opacity: 0;
}

.navbar nav ul li:hover::before {
    opacity: 1;
    filter: blur(12px);
}

.navbar nav ul a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.tema{
    height: 2rem;
    width: 2rem;
}

.navbar nav ul a:hover {
    color: #ffffff;
}

/* Modo escuro */

.navbar.dark-mode {
    background: linear-gradient(90deg, rgba(28, 14, 52, 1) 0%, rgba(70, 40, 119, 1) 100%);
}

.navbar.dark-mode nav ul a {
    color: #f0f0f0;
}

.temacontainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #281448;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

body.dark-mode {
    background-color: var(--solidbgcolor);
}

.maincontainer{
    display: block;
    margin-inline: auto;
    max-width: 1366px;
}

body{
    padding-top: 5rem;
    background-color: var(--solidbgcolor);
}

h1{
    color: var(--textyellow);
    filter: drop-shadow(0px 5px 2.5px #00000056);
    text-align: center;
    font-family: "Righteous", sans-serif;

    font-size: 5rem;

    padding-block: 4rem;

    text-align: center;
}

.dark-mode h1{
    color: var(--solidtypecolor);
}

h2{
    color: var(--purplebg);
    filter: drop-shadow(0px 5px 2.5px #00000056);
    font-family: "Righteous", sans-serif;

    font-size: 3rem;
    padding-block: 5rem;

    text-align: center;
}

.dark-mode h2{
    color: var(--rosio);
}

p{
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
}

.perguntas p {
    margin: 20px 40px;
    padding: 15px;
    background-color: var(--solidtypecolor);
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--purplebg);
    text-align: left;
}

.perguntas div{
    margin-inline: 3rem;
}

section{
    padding-block: 4rem;
}

h3{
    font-size: 2.5rem;
    filter: drop-shadow(0px 5px 2.5px #00000056);
}

.about{
    padding: 3rem;
    float: center;
    height: fit-content;
    width: 100%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    align-items: center;
    justify-items: center;
}

.about h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--rosio);
    filter: drop-shadow(0px 5px 2.5px #00000056);
    padding-block: 2.5rem;
    font-family: 'Righteous', sans-serif;
}

.about span{
    font-family: 'Righteous', sans-serif;
    color: #fff;
    padding-left: 0.75rem;
}

@keyframes glow {
    0% {
        box-shadow: 
            0 0 10px rgba(255,0,0,0.6),
            0 0 15px rgba(0,255,0,0.6),
            0 0 20px rgba(0,0,255,0.6),
            0 0 25px rgba(255,255,0,0.6);
    }
    25% {
        box-shadow: 
            0 0 15px rgba(255,105,180,0.6),
            0 0 20px rgba(0,255,255,0.6),
            0 0 25px rgba(255,165,0,0.6),
            0 0 30px rgba(128,0,128,0.6);
    }
    50% {
        box-shadow: 
            0 0 20px rgba(255,20,147,0.6),
            0 0 25px rgba(0,255,127,0.6),
            0 0 30px rgba(255,69,0,0.6),
            0 0 35px rgba(75,0,130,0.6); 
    }
    75% {
        box-shadow: 
            0 0 25px rgba(255,0,255,0.6),
            0 0 30px rgba(0,255,127,0.6),
            0 0 35px rgba(255,105,180,0.6),
            0 0 40px rgba(0,0,255,0.6);
    }
    100% {
        box-shadow: 
            0 0 30px rgba(255,0,0,0.6),
            0 0 35px rgba(0,255,0,0.6),
            0 0 40px rgba(0,0,255,0.6),
            0 0 45px rgba(255,255,0,0.6);
    }
}

.card_pessoas {
    background: #000000;
    background: linear-gradient(180deg, #000000 0%, #39173e 50%, #581a62 100%);
    height: 36.25rem;
    width: 36.25rem;
    border-radius: 3rem;
    transition: box-shadow 0.3s ease-in-out;
}

.card_pessoas:hover {
    animation: glow 3s infinite alternate;
}

/* FINALMENTE TA FUNCIONANDO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.profile {
    display: flex;
}

.profile img {
    padding-inline: 2rem;
    padding-block: 2.5rem;
    border-radius: 999px;
}

.profile a {
    font-size: 2rem;
    color: #fff;
}

.profile a:hover {
    text-decoration: underline;
}

.profile strong {
    padding-top: 6rem;
    gap: 1rem;
    font-family: "Righteous", sans-serif;
}

.card_pessoas p {
    color: #fff;
    padding-top: 3rem;
    font-size: 1.75rem;
    font-family: "Righteous", sans-serif;
}
.bug_report{
    display: flex;
    justify-content: center;
    text-align: center;
}

.bug_report a{
    color: var(--rosio);
}

h4{
    color: var(--purplebg);
    font-size: 2rem;
}

.dark-mode .bug_report{
    color: var(--rosio);
}

.dark-mode h4{
    color: var(--solidtypecolor);
}


#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--rosio);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    opacity: 0.9;
    height: 3.5rem;
    width: 3.5rem;
}

#backToTop:hover {
    opacity: 1;
    background-color: var(--textyellow);
}