@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');


:root{
    --purplebg: #281448;
    --textyellow: #FCB850;
    --imgcardpurple: #1C0E34;
    --rosio: #D6008F;
    --solidbgcolor: #EAE8ED;
    --solidtypecolor: #F6EAF9;
    --bg-desktop: url(../../img/pattern-background-desktop-light.svg);
    --bg-mobile: url(../../img/pattern-background-mobile-light.svg);
}

html a {
    text-decoration: none;
}

* {
    /* reset do CSS */
    font-family: "Poppins", sans-serif;
    /* font-family: 'Righteous', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Fontes alternativas para textos menores, deixar p dps se quisermos usar*/

/* font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
  

  /* Navbar */

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: linear-gradient(90deg, rgba(169,30,219,1) 0%, rgba(255,25,196,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.navbar nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar nav .logo {
    display: flex;
    align-items: center;
}

.navbar nav .logo img {
    height: 4rem;  /* aumentei a imagem de 2.5 pra 4.5 */
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.navbar nav .logo img:hover {
    transform: rotate(15deg) scale(1.1);
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem; /* gap pros links */
    position: relative;
}

.navbar nav ul li {
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar nav ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    filter: blur(8px);
    z-index: -1;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
    opacity: 0;
}

.navbar nav ul li:hover::before {
    opacity: 1;
    filter: blur(12px);
}

.navbar nav ul a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.navbar nav ul a:hover {
    color: #ffffff;
}

.maincontainer{
    display: block;
    margin-inline: auto;
    max-width: 1366px;
}

.bosta763{
    background: var(--solidbgcolor) var(--bg-mobile);
    background-repeat: no-repeat;
    background-size: cover;
}

.degrade{
    width: auto;
    height: 24rem;
    background-image: url(/img/bggen.png);
    background-repeat: repeat-x;
}

.title{
    font-size: 4rem;
    margin-bottom: 14rem;
}

.title h1{
    color: #fff;
    filter: drop-shadow(0px 20px 10px #00000086);
    text-align: center;
    font-family: "Righteous", sans-serif;

}

.title h1 span{
    color: var(--rosio);
    text-align: center;
    font-family: "Righteous", sans-serif;
}
 
/* reutilizavel - infocard */

.infocard{
    display: flex;
    columns: 2;
    justify-content: center;
    padding-bottom: 3rem;
}

.infocard div{
    border-radius: 1rem;
}

.info{
    background-color: var(--textyellow);
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    padding-right: -2rem;
    z-index: 2;
}

.info h3, li{
    color: #fff;
}

.info h3{
    font-size: 3rem;
    padding-bottom: 2.5rem;
    font-family: "Righteous", sans-serif;
}

.info li{
    display: block;

    padding-bottom: 1.25rem;
    padding-inline: 0.75rem;

    font-size: 1rem;

    font-weight: 300;
    font-style: normal;
}

.infocard img{
    margin-left: -1rem;
    margin-top: 4rem;
}

/* -------------------------------------------------------------- */

.area_tipos{
    background: var(--purplebg);
    padding: 4rem 2rem 6rem 2rem; /* Ajuste geral de padding */
    text-align: center;

}

.area_tipos h4{
    font-size: 2.5rem;

    color: var(--rosio);

    padding-top: 2rem;
    padding-inline: 3rem;

    font-family: "Righteous", sans-serif;
}

.area_tipos strong p{
    font-weight: 200;
    font-style: normal;

    color: #fff;

    padding-inline: 3.125rem;
    padding-bottom: 4rem;
}

.area_tipos {
    text-align: center;

  }


.tipos {
    display: flex;
    justify-content: center;
    gap: 3rem; /* Mais espaçamento entre os blocos */
    padding-top: 2rem;
}

.tipo {
    padding: 20px;
    background-color: var(--solidbgcolor);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.tipo:hover {
    background-color: var(--textyellow);
    color: white;
  }
  
  /* Estilos para os modais */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  
.modal-content {
    background-color: var(--solidbgcolor);
    margin: 15% auto;
    text-align: center;
    border-radius: 1rem;
    padding: 30px; /* Aumentar padding para dar mais espaçamento interno */
    width: 60%; /* Aumentar largura para dar mais espaço ao conteúdo */
    line-height: 1.6; /* Aumentar o espaçamento entre linhas */
}

.modal-content h2 {
    margin-bottom: 20px; /* Espaço abaixo do título */
    color: var(--purplebg);
}

.modal-content p {
    margin-bottom: 30px; /* Espaço abaixo do parágrafo */
}
  
.fechar {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
button {
    padding: 10px 20px;
    background-color: var(--rosio);
    color: white;
    border: none;
    cursor: pointer;
  }
  
button:hover {
    background-color: var(--purplebg);
  }

.tipos{
    display: flex;
    columns: 2;
    gap: 6rem;

    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.tipos div{
    background-color: var(--solidtypecolor);

    height: 9rem;
    width: 9rem;

    border-radius: 1.25rem;
    display: flex; /* Para usar flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.tipos div p{
    font-style: normal;
    font-weight: 500;
    color: var(--rosio);

    text-align: center;
    
    padding-block: 3rem;
}

span{
    color: var(--rosio);
}

.cells{
    background: var(--purplebg);
    padding-bottom: 5rem;
    float: center;
}

.cells h4{
    font-size: 2.5rem;
    color: #fff;
    margin-inline: 3.125rem;
    padding-block: 4rem;
    font-family: "Righteous", sans-serif;
}


h4 span{
    font-family: "Righteous", sans-serif;
}

.haploide p, .diploide p{
    margin-inline: auto; /* Centralização */
    background-color: var(--textyellow);
    border-radius: 1.5rem;
    height: fit-content;
    max-width: 800px;
    padding: 2rem;
    padding-inline: 2rem;
    padding-block: 2rem;
    
}

.cells .diploide {
    margin-top: 4rem;
}

.cells p{
    color: #fff;

    font-weight: 300;
    font-style: normal;

    text-align: center;

    height: 100%;
    width: 50%;

    font-size: 1.375rem;
}

.cells p span{
    color:var(--rosio);

    font-weight: 300;
    font-style: normal;

    text-align: center;

    font-size: 1.375rem;
}

.text{
    /* eu te amo ujhafsuy <3 */
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
}

.text img{
    border-radius: 20px;
    filter: drop-shadow(0px 10px 5px #00000099);
    margin-bottom: -1.25rem;
}

.cells .diploide{
    margin-top: 5rem;
}

.aplicacoes{
    padding: 3rem;
    background: var(--solidbgcolor) var(--bg-desktop);
    background-repeat: no-repeat;
    background-size: cover;
}

.aplicacoes h3{
    color: var(--rosio);
    font-size: 2.813rem;
    padding-block: 4rem;
    font-family: "Righteous", sans-serif;
}

/* reutilizavel tb isso abaixo */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.primeira-parte, .segunda-parte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    width: 100%;
    padding: 2rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.primeira-parte img, .segunda-parte img {
    max-width: 75%;
    height: auto;
}

.primeira-parte p, .segunda-parte p {
    color: var(--textcolor);
    font-weight: 300;
    font-style: normal;
    padding: 2rem;
    flex: 1;
}

.segunda-parte p {
    text-align: right;
}

footer{
    display: block;
    
    background-color: var(--solidbgcolor);
    padding-block: 3rem;
    margin-inline: auto;
}

footer p{
    text-align: center;
}