@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@300;600;900&family=Righteous&display=swap');

:root {
    --purplebg: #281448;
    --textyellow: #FCB850;
    --imgcardpurple: #1C0E34;
    --rosio: #D6008F;
    --solidbgcolor: #EAE8ED;
    --solidtypecolor: #F6EAF9;
    --cortexto: #3d3d3d;
    --bg-desktop: url(../img/pattern-background-desktop-light.svg);
    --landingpng: url(/img/background.png);
    --bggen: url(/img/bggen.png);
    --bgdna: url(/img/bgdna.png);
    --cadastrocolor: #BCB6C6;
}

:root.dark-mode {
    --purplebg: #11071f;
    --textyellow: #FCB850;
    --imgcardpurple: #0c041a;
    --rosio: #D6008F;
    --solidbgcolor: #131114;
    --solidtypecolor: #F6EAF9;
    --cortexto: #F6EAF9;
    --bg-desktop: url(../img/pattern-background-desktop-dark.svg);
    --landingpng: url(/img/background-dark.png);
    --bggen: url(/img/bggen-dark.png);
    --bgdna: url(/img/bgdna-dark.png);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: linear-gradient(90deg, rgba(169,30,219,1) 0%, rgba(255,25,196,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.navbar nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar nav .logo {
    display: flex;
    align-items: center;
}

.navbar nav .logo img {
    height: 2.5rem;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.navbar nav .logo img:hover {
    transform: rotate(15deg) scale(1.1);
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem; /* gap pros links */
    position: relative;
}

.navbar nav ul li {
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar nav ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    filter: blur(8px);
    z-index: -1;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
    opacity: 0;
}

.navbar nav ul li:hover::before {
    opacity: 1;
    filter: blur(12px);
}

.navbar nav ul a, p{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.navbar nav ul li .userinfo{
    display: inline-block;
}

.dark-mode .navbar nav ul li .userinfo{
    display: inline-block;

}

.tema{
    height: 2rem;
    width: 2rem;
}

.login{
    height: 2rem;
    width: 2rem;
}

.navbar nav ul a:hover {
    color: #ffffff;
}

/* Modo escuro */

.navbar.dark-mode {
    background: linear-gradient(90deg, rgba(28, 14, 52, 1) 0%, rgba(70, 40, 119, 1) 100%);
}

.navbar.dark-mode nav ul a {
    color: #f0f0f0;
}

.temacontainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #281448;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

body.dark-mode {
    background-color: var(--purplebg);
    color: white;
}

body{
    display: flex;
    margin-inline: auto;
    justify-content: center;
    justify-items: center;
    background-color: var(--purplebg);
    background-image: url(../img/loginbg.png);
    background-size: auto;
    background-repeat: repeat-y;
}

main{
    
}

.maincontainer{
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.background{
    padding: 24rem;
    /* background-image: url(../img/loginbg.png); */
    /* background-size: cover;
    background-repeat: repeat; */
}

/* .background img{
    size: cover;
} */

.login-section{
    /* padding: 6rem; */
    background: var(--purplebg);
    background-repeat: repeat;

}

.login-section div{
    margin-inline: 2rem;
    background: var(--solidbgcolor);
    border-radius: 18px;
}

.inputs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 16px; 
    margin: 2rem;
    padding: 1.5rem;
}

.inputs h1{
    font-family: 'Righteous', sans-serif;
    text-align: center;
    justify-content: center;

    padding: 2rem;
    font-size: 36px;
    color: var(--cadastrocolor);

}

.inputs input{
    justify-content: center;
    padding: 0.5rem;
    padding-left: 2rem;
    margin: 1.5rem;
    border: none;
    border-radius: 10px;
}

.dark-mode .inputs input {
    background-color: #3d3d3d;
    color: var(--cortexto);
}

.inputs #email{
    background-image: url(../img/account_circle.png);
    background-repeat: no-repeat;
    background-position: calc(0% + 5px) center;
}

.inputs #senha{
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-position: calc(0% + 5px) center;

}

.inputs #senhaconfirmar{
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-position: calc(0% + 5px) center;
}

.inputs #nome{
    background-image: url(../img/id_card.png);
    background-repeat: no-repeat;
    background-position: calc(0% + 5px) center;
}

input::placeholder{
    margin-left: 25px;
    font-style: italic;
}

.inputs div{
    display: flex;
    justify-content: center;
}

.login-button{
    margin: 2rem;
    padding-block: 1rem;
    padding-inline: 3rem;
    border: none;
    border-radius: 10px;
    background-color: var(--textyellow);
    color: white;

    font-family: 'Righteous', sans-serif;
    font-size: 24px;
}

p{
    text-align: center;
    font-style: italic;
    color: white;
}

a{
    font-style: normal;
    font-weight: 600;
    color: var(--textyellow);
    text-decoration: none;
    
}

.login-button:hover{
    cursor: pointer;
}