@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

:root{
    --purplebg: #281448;
    --textyellow: #FCB850;
    --imgcardpurple: #1C0E34;
    --rosio: #D6008F;
    --solidbgcolor: #EAE8ED;
    --solidtypecolor: #F6EAF9;
    --textcolor: #646464;
}

html a {
    text-decoration: none;
}

/* Fonte alternativa para textos menores, deixar p dps se quisermos usar*/

/* font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

* {
    /* reset do CSS */
    font-family: "Righteous", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: repeat-x;
  }

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: linear-gradient(90deg, rgba(169,30,219,1) 0%, rgba(255,25,196,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.navbar nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar nav .logo {
    display: flex;
    align-items: center;
}

.navbar nav .logo img {
    height: 4rem;  
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.navbar nav .logo img:hover {
    transform: rotate(15deg) scale(1.1);
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem; /* gap pros links */
    position: relative;
}

.navbar nav ul li {
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar nav ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    filter: blur(8px);
    z-index: -1;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
    opacity: 0;
}

.navbar nav ul li:hover::before {
    opacity: 1;
    filter: blur(12px);
}

.navbar nav ul a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.navbar nav ul a:hover {
    color: #ffffff;
}

body{
    padding-top: 5rem;
    background-color: var(--solidbgcolor);
}

section{
    padding: 1rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: var(--purplebg);
    filter: drop-shadow(0px 5px 2.5px #00000091);
    font-size: 6rem;
}

h1 span{
    color: #fff;
}

.quizzes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizzes a{
    background: var(--purplebg);
    display: block;
    height: 24rem;
    width: 24rem;
    margin-inline: auto;
    padding-inline: auto;
    border-radius: 2rem;
}

.quizzes a div img{
    display: block;
    margin: auto;
    padding: auto;
    margin-top: 3rem;
}

.dnaquiz img{
    width: 12.286rem;
    height: auto;
}

.genquiz img{
    width: 12.286rem;
    height: auto;
}

h2{
    display: flex;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
}