@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Righteous", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root{
    --purplebg: #281448;
    --textyellow: #FCB850;
    --imgcardpurple: #1C0E34;
    --rosio: #D6008F;
    --solidbgcolor: #EAE8ED;
    --solidtypecolor: #F6EAF9;
    --textcolor: #646464;
    --purple: #9829AE;
    --purple-hover: rgba(167, 41, 245, 0.7);
    --color-span: #626c7f;
    --purple-hover: rgba(167, 41, 245, 0.7);
    --primary-text-color: #313E51;
    --secondary-text-color: #626c7f;
    --button-bg: #fff;
    --shadow: 0px 16px 40px 0px rgba(143,168,193,0.14);
    --white: #fff;
    --green: #2bd782;
    --red: #ee5454;
}

body{
    height: 100vh;
    background: var(--solidbgcolor);
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    margin-block: 81px;
    max-width: 1160px;
    margin-inline: auto;
}

.assunto{
    display: flex;
    align-items: center;
    gap:16px;
}

.assunto_icone{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
}

.assunto_icone img{
   width: 100%;
}

.assunto h1{
    font-size: 28px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.tipo{
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tipo h1{
    color: var(--purple);
}

main{
    padding: 32px 24px;
    max-width: 1160px;
    margin-inline: auto;

    display: flex;
    gap: 130px;
}

section{
    width: 100%;
}

.pergunta{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pergunta p{
    font-style: italic;
    color: var(--secondary-text-color);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 27px;
}

.pergunta h2{
    font-weight: 500;
    color: var(--primary-text-color);
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 42px;
}

.barra_progresso{
    background: var(--button-bg);
    height: 16px;
    padding: 4px;
    border-radius: 999px;
}

.barra_progresso div{
    height: 100%;
    width: 60%;
    background: var(--purple);
    border-radius: 999px;
}

.alternativas form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
    gap: 24px;
    margin-bottom: 24px;
}

.alternativas label{
    display: block;
    background: var(--button-bg);
    font-weight: 500;
    box-shadow: var(--shadow);
    color: var(--primary-text-color);
    font-size: 22px;
    padding: 18px 20px;
    cursor: pointer;
    border-radius: 24px;
}

.alterntivas label:hover{
    & span{
        color: var(--purple);
    }
}

.alternativas label:has(input:checked){
    outline: 3px solid var(--purple);

    & span{
        background: var(--purple);
        color: var(--white);
    }
}

.alternativas label#correta{
    outline: 3px solid var(--green);

    & span{
        background: var(--green);
        color: var(--white);
    }
}

.alternativas label#errada{
    outline: 3px solid var(--red);

    & span{
        background: var(--red);
        color: var(--white);
    }
}

.alternativas input{
    display: none;
}

.alternativas div{
    display: flex;
    align-items: center;
    gap: 32px;
}

.alternativas div span{
    display: block;
    background: var(--bg-color);
    border-radius: 5px;
    color: var(--secondary-text-color);
    width: 56px;
    height: 56px;
    font-size: 28px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}


.alternativas button {
    padding: 16px;
    border-radius: 12px;
    border: none;
    background: var(--purple);
    color: var(--white);
    width: 100%;

    font-size: 18px;
    font-weight: 500;
    transition: background 0.3s;
}

.alternativas button:hover {
    background: var(--purple);
    cursor: pointer;
}

