@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

:root {
    --purplebg: #281448;
    --textyellow: #FCB850;
    --imgcardpurple: #1C0E34;
    --rosio: #D6008F;
    --solidbgcolor: #EAE8ED;
    --solidtypecolor: #F6EAF9;
    --cortexto: #3d3d3d;
    --bg-desktop: url(../img/pattern-background-desktop-light.svg);
    --landingpng: url(/img/background.png);
    --bggen: url(/img/bggen.png);
    --bgdna: url(/img/bgdna.png);
}

:root.dark-mode {
    --purplebg: #11071f;
    --textyellow: #FCB850;
    --imgcardpurple: #0c041a;
    --rosio: #D6008F;
    --solidbgcolor: #131114;
    --solidtypecolor: #F6EAF9;
    --cortexto: #F6EAF9;
    --bg-desktop: url(../img/pattern-background-desktop-dark.svg);
    --landingpng: url(/img/background-dark.png);
    --bggen: url(/img/bggen-dark.png);
    --bgdna: url(/img/bgdna-dark.png);
}

html a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: linear-gradient(90deg, rgba(169,30,219,1) 0%, rgba(255,25,196,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.navbar nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar nav .logo {
    display: flex;
    align-items: center;
}

.navbar nav .logo img {
    height: 2.5rem;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.navbar nav .logo img:hover {
    transform: rotate(15deg) scale(1.1);
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem; /* gap pros links */
    position: relative;
}

.navbar nav ul li {
    padding: 0.5rem 0.5rem;
    position: relative;
}

.navbar nav ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    filter: blur(8px);
    z-index: -1;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
    opacity: 0;
}

.navbar nav ul li:hover::before {
    opacity: 1;
    filter: blur(12px);
}

.navbar nav ul a, .navbar nav ul p{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.navbar nav ul li .userinfo{
    display: inline-block;
}

.dark-mode .navbar nav ul li .userinfo{
    display: inline-block;

}

.logout{
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    background: none;
    border-radius: 10px;
    border-color: white;
    color: white;
    cursor: pointer;
}

.tema{
    height: 2rem;
    width: 2rem;
}

.navbar nav ul a:hover {
    color: #ffffff;
}

/* Modo escuro */

.navbar.dark-mode {
    background: linear-gradient(90deg, rgba(28, 14, 52, 1) 0%, rgba(70, 40, 119, 1) 100%);
}

.navbar.dark-mode nav ul a {
    color: #f0f0f0;
}

.temacontainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #281448;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

body{
    background-color: var(--solidbgcolor);
    background-image: url('../img/pattern-background-desktop-light.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body.dark-mode {
    background-color: var(--solidbgcolor);
    background-image: url('../img/pattern-background-desktop-dark.svg');
}

section{
    padding: 1rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode h1{
    color: var(--rosio);
}

h1{
    color: var(--purplebg);
    filter: drop-shadow(0px 5px 2.5px #00000091);
    font-size: 5rem;
    padding-inline: 2rem;
    padding-block: 3rem;
}

h1 span{
    color: #fff;
}

.quizzes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizzes a{
    background: var(--purplebg);
    display: block;
    height: 22rem;
    width: 22rem;
    margin-inline: auto;
    padding-inline: auto;
    border-radius: 2rem; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.quizzes a div img{
    display: block;
    margin: auto;
    padding: auto;
    margin-top: 2.5rem;
}

.dnaquiz img{
    width: 12.286rem;
    height: auto;
    padding-bottom: 0.25rem;

}

.genquiz img{
    width: 12.286rem;
    height: auto;
    padding-bottom: 0.25rem;
}

h2{
    display: flex;
    padding-top: 0.5rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
}

.ranking{
    display: inline-flex;
    align-items: center;
    padding: 5rem;
    margin: 5rem;

}

.ranking_table {
    overflow: auto;
    width: 100%;
}

.ranking_table table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.ranking_table caption {
    font-size: 24px;
    color: var(--textyellow);
    caption-side: top;
    text-align: left;
}

.ranking_table th {
    border: 1px solid #dededf;
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: var(--rosio);
    padding: 1rem;
}

.ranking_table td {
    border: 1px solid #dededf;
    background-color: #ffffff85;
    backdrop-filter: blur(5px);
    color: #000000;
    padding: 1rem;
}
