@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Righteous", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root{
    --purplebg: #281448;
    --textyellow: #FCB850;
    --imgcardpurple: #1C0E34;
    --rosio: #D6008F;
    --solidbgcolor: #EAE8ED;
    --solidtypecolor: #F6EAF9;
    --textcolor: #646464;
    --purple: #9829AE;
    --purple-hover: rgba(167, 41, 245, 0.7);
    --color-span: #626c7f;
    --purple-hover: rgba(167, 41, 245, 0.7);
    --primary-text-color: #313E51;
    --secondary-text-color: #626c7f;
    --button-bg: #fff;
    --shadow: 0px 16px 40px 0px rgba(143,168,193,0.14);
    --white: #fff;
    --green: #2bd782;
    --red: #ee5454;
}

:root.dark-mode {
    --purplebg: #11071f;
    --textyellow: #FCB850;
    --imgcardpurple: #0c041a;
    --rosio: #D6008F;
    --solidbgcolor: #131114;
    --solidtypecolor: #F6EAF9;
    --cortexto: #F6EAF9;
    --purple: #9829AE;
    --purple-hover: rgba(167, 41, 245, 0.7);
    --color-span: #626c7f;
    --purple-hover: rgba(167, 41, 245, 0.7);
    --primary-text-color: #313E51;
    --secondary-text-color: #626c7f;
    --button-bg: #fff;
    --shadow: 0px 16px 40px 0px rgba(143,168,193,0.14);
    --white: #fff;
    --green: #2bd782;
    --red: #ee5454;
}


html a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: linear-gradient(90deg, rgba(169,30,219,1) 0%, rgba(255,25,196,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.navbar nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar nav .logo {
    display: flex;
    align-items: center;
}

.navbar nav .logo img {
    height: 2.5rem;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.navbar nav .logo img:hover {
    transform: rotate(15deg) scale(1.1);
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem; /* gap pros links */
    position: relative;
}

.navbar nav ul li {
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar nav ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    filter: blur(8px);
    z-index: -1;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
    opacity: 0;
}

.navbar nav ul li:hover::before {
    opacity: 1;
    filter: blur(12px);
}

.navbar nav ul a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.tema{
    height: 2rem;
    width: 2rem;
}

.navbar nav ul a:hover {
    color: #ffffff;
}

/* Modo escuro */

.navbar.dark-mode {
    background: linear-gradient(90deg, rgba(28, 14, 52, 1) 0%, rgba(70, 40, 119, 1) 100%);
}

.navbar.dark-mode nav ul a {
    color: #f0f0f0;
}

.temacontainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #281448;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

body.dark-mode {
    background-color: var(--solidbgcolor);
}

body{
    background-color: var(--solidbgcolor);
}


header{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    margin-block: 81px;
    max-width: 1160px;
    margin-inline: auto;
}

.assunto{
    display: flex;
    align-items: center;
    gap:16px;
}

.assunto_icone{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
}

.assunto_icone img{
   width: 100%;
}

.assunto h1{
    font-size: 28px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.tipo{
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tipo h1{
    color: var(--purple);
}

main{
    padding: 32px 24px;
    max-width: 1160px;
    margin-inline: auto;

    display: flex;
    gap: 130px;
}

section{
    width: 100%;
}

.pergunta{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pergunta p{
    font-style: italic;
    color: var(--secondary-text-color);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 27px;
}

.pergunta h2{
    font-weight: 500;
    color: var(--primary-text-color);
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 42px;
}

.barra_progresso{
    background: var(--button-bg);
    height: 16px;
    padding: 4px;
    border-radius: 999px;
}

.barra_progresso div{
    height: 100%;
    width: 60%;
    background: var(--purple);
    border-radius: 999px;
}

.alternativas form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
    gap: 24px;
    margin-bottom: 24px;
}

.alternativas label{
    display: block;
    background: var(--button-bg);
    font-weight: 500;
    box-shadow: var(--shadow);
    color: var(--primary-text-color);
    font-size: 22px;
    padding: 18px 20px;
    cursor: pointer;
    border-radius: 24px;
}

.alterntivas label:hover{
    & span{
        color: var(--purple);
    }
}

.alternativas label:has(input:checked){
    outline: 3px solid var(--purple);

    & span{
        background: var(--purple);
        color: var(--white);
    }
}

.alternativas label#correta{
    outline: 3px solid var(--green);

    & span{
        background: var(--green);
        color: var(--white);
    }
}

.alternativas label#errada{
    outline: 3px solid var(--red);

    & span{
        background: var(--red);
        color: var(--white);
    }
}

.alternativas input{
    display: none;
}

.alternativas div{
    display: flex;
    align-items: center;
    gap: 32px;
}

.alternativas div span{
    display: block;
    background: var(--bg-color);
    border-radius: 5px;
    color: var(--secondary-text-color);
    width: 56px;
    height: 56px;
    font-size: 28px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}


.alternativas button {
    padding: 16px;
    border-radius: 12px;
    border: none;
    background: var(--purple);
    color: var(--white);
    width: 100%;

    font-size: 18px;
    font-weight: 500;
    transition: background 0.3s;
}

.alternativas button:hover {
    background: var(--purple);
    cursor: pointer;
}

