@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --purplebg: #281448;
    --textyellow: #FCB850;
    --imgcardpurple: #1C0E34;
    --rosio: #D6008F;
    --solidbgcolor: #EAE8ED;
    --solidtypecolor: #F6EAF9;
    --cortexto: #3d3d3d;
    --bg-desktop: url(../../img/pattern-background-desktop-light.svg);
    --landingpng: url(/img/background.png);
    --bggen: url(/img/bggen.png);
    --bgdna: url(/img/bgdna.png);
}

:root.dark-mode {
    --purplebg: #11071f;
    --textyellow: #FCB850;
    --imgcardpurple: #0c041a;
    --rosio: #D6008F;
    --solidbgcolor: #131114;
    --solidtypecolor: #F6EAF9;
    --cortexto: #F6EAF9;
    --bg-desktop: url(../../img/pattern-background-desktop-dark.svg);
    --landingpng: url(/img/background-dark.png);
    --bggen: url(/img/bggen-dark.png);
    --bgdna: url(/img/bgdna-dark.png);


}


html a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: linear-gradient(90deg, rgba(169,30,219,1) 0%, rgba(255,25,196,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.navbar nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar nav .logo {
    display: flex;
    align-items: center;
}

.navbar nav .logo img {
    height: 2.5rem;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.navbar nav .logo img:hover {
    transform: rotate(15deg) scale(1.1);
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem; /* gap pros links */
    position: relative;
}

.navbar nav ul li {
    padding: 0.5rem 0.5rem;
    position: relative;
}

.navbar nav ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    filter: blur(8px);
    z-index: -1;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
    opacity: 0;
}

.navbar nav ul li:hover::before {
    opacity: 1;
    filter: blur(12px);
}

.navbar nav ul a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.tema{
    height: 2rem;
    width: 2rem;
}

.navbar nav ul a:hover {
    color: #ffffff;
}

/* Modo escuro */

.navbar.dark-mode {
    background: linear-gradient(90deg, rgba(28, 14, 52, 1) 0%, rgba(70, 40, 119, 1) 100%);
}

.navbar.dark-mode nav ul a {
    color: #f0f0f0;
}

.temacontainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #281448;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

body.dark-mode {
    background-color: var(--solidbgcolor);
}

.maincontainer{
    display: block;
    margin-inline: auto;
    max-width: 1366px;
}

body{
    padding-top: 5rem;
    background: var(--solidbgcolor) var(--bg-desktop);
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    padding: 1rem;
}

.title{
    display: flex;
    padding-top: 1rem;
}

.title img{
    width: 10%;
    height: 10%;
}

.title h1{
    font-size: 5rem;
    color: var(--purplebg);

    padding-top: 1rem;
}

.dark-mode .title h1{
    color: var(--solidtypecolor);
}

.flexcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe{
    display: block;
    width: 960px;
    height: 540px;
}

.content h2{
    color: var(--textyellow);
    font-size: 2.5rem;
    margin-top: 1rem;
}

.content h3{
    padding-bottom: 2rem;
}

.dark-mode .content h3{
    color: var(--rosio);
}

.desc {
    height: 12rem;
    background-color:#CEE8D0;
    padding: 1.25rem;
    border-radius: 1rem;
    
}

.dark-mode .desc{
    background-color: #2a272c;
}

.desc p{
    font-family: "Poppins", sans-serif;
}

.dark-mode .desc p{
    color: var(--solidtypecolor);
}

/* OOOOO DIFICULDADE P FZR ESSES BOTAO */

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem auto;
}

button.proximo, button.anterior {
    background-color: var(--purplebg);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    width: 250px;
    text-align: center;
}

button.proximo:hover, button.anterior:hover {
    background-color: var(--rosio);
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

button.proximo:active, button.anterior:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button.proximo {
    background: linear-gradient(90deg, rgba(169,30,219,1) 0%, rgba(255,25,196,1) 100%);
}

button.anterior {
    background: linear-gradient(90deg, rgba(255,25,196,1) 0%, rgba(169,30,219,1) 100%);
}

.top-buttons {
    top:  9rem;
    right: 10.5rem;
    display: flex;
    gap: 30px;
    /* align-items: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem auto; */

  }
  
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 0px; /* Deixa as bordas um pouco arredondadas */
    font-size: 1rem; /* Tamanho da fonte um pouco maior */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    min-width: 100px; /* Largura mínima para os botões */
  }

.btn {
    background-color: var(--imgcardpurple); /* Cor padrão escura */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px 10px 10px 10px; /* Bordas arredondadas apenas no topo */
    
}

/* Botão ativo - quando está selecionado */
.btn.active {
    background-color: var(--textyellow);
    color: white;
}


.btn:hover {
    opacity: 0.8;
}
  
.btn:hover {
    opacity: 0.9; 
    transform: scale(1.02); 
  }
  
.lista details {
    font-size: x-large;
    color: var(--purplebg);
    transition: max-height 0.5s ease-in-out, padding 0.3s ease;
    overflow: hidden;
    border-radius: 0.5rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    margin-block: 1rem;
    background-color: rgba(0, 0, 0, 0.02);
    max-height: 3rem;
}

.dark-mode .lista details{
    color: var(--textyellow);
}

.lista details[open] {
    background-color: var(--rosio);
    max-height: 50rem;
}

.dark-mode .lista details[open] {
    background-color: var(--purplebg);
}

.lista details summary {
    cursor: pointer;
    padding: 0.5rem;
    transition: color 0.3s ease;
    font-size: 1.25rem;
}

.lista details summary:hover {
    color: var(--rosio);
    text-decoration: underline;
}

.dark-mode .lista details summary:hover {
    color: var(--solidtypecolor);
}

.lista details[open] summary {
    color: var(--textyellow);
}

.lista details button {
    color: var(--solidtypecolor);
    background-color: var(--purplebg);
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.25rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    margin-bottom: 6px;
    width: 100%;
    text-align: left;
}

.dark-mode .lista details button{
    background-color: var(--rosio);
}

.lista details[open] button {
    opacity: 1;
    transform: translateY(0);
}

.lista details[open] summary ~ button {
    transition-delay: 0.1s;
}
